* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
}

#navbar .navbar-body {
  display: flex;
}

.navbar-left .body .left {
  display: flex;
}

.navbar-left .body .left .body {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 60px;
}

.navbar-left .body .left .body .logo {
  width: 105px;
  margin-left:100px;
  padding: 10px 20px;

  background-color: red;
}

.navbar-left .body .left .body .logo img {
  width: 100%;
}

.navbar-left .body .left .body ul {
  display: flex;
  align-items: center;
  height: 46.8px;
}

.navbar-left .body .left .body ul li {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-left .body .left .body ul li a {
  font-size: 15px;
  color: rgb(130, 130, 130);
  text-decoration: none;
  font-family: sans-serif;
  padding: 20px 25px;
  border-left: 1px solid rgb(227, 227, 227);
}

.navbar-left .body .left .body ul li a:hover {
  color: rgb(0, 115, 255);
}

.salam {
 height: 50px;
 background-color: red; 
}